<ion-view>
  <ion-nav-bar class="bar-stable nav-bar-large image-background">
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon nav-button nav-button-top" menu-toggle="left">
          </button>
      </ion-nav-buttons>      
      <div class="right-logo">
          <p class="brand-logo">The Exonian</p>
      </div>
      <div class="overlay"></div>
      <div class="headline">
          <p class="headline-text" ng-click="goToHeadline(Featured)" ng-bind-html="FeaturedTitle"></p>
      </div>
  </ion-nav-bar>
  <ion-content has-bouncing="true">
      <div ng-if="!error" class="headline-height">
          <ion-refresher 
                         spinner="android"
                         pulling-icon="ion-android-arrow-down"
                         on-refresh="refresh()">
          </ion-refresher>
          <ion-list class="posts">
              <div>
                  <ion-item ng-repeat="Post in Posts" class="post-item" href="#/app/article/{{Post.id}}">
                      <p class="article-title article-title-small" ng-bind-html="Post.title"></p>
                      <p class="article-title article-title-large" ng-bind-html="Post.titleClip"></p>
                      <p class="article-headline-author">{{Post.Author}}</p>
                      <div class="article-subtitle-background">
                          <span class="article-subtitle">{{Post.categories[0].title}}</span>
                      </div>
                  </ion-item>
              </div>
          </ion-list>
          <ion-infinite-scroll
                ng-if="checkData()"
                spinner="android"
                on-infinite="loadMore()">
          </ion-infinite-scroll>
      </div>
      <div ng-if="error" class="headline-height">
          <p class="error-message">Check your internet connection and try again.</p>
      </div>
  </ion-content>
</ion-view>
