<ion-view>
  <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon nav-button" menu-toggle="left">
      </button>
    </ion-nav-buttons>
    <ion-nav-title>
      <p class="nav-title-text">Search</p>
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content has-bouncing="true">
    <form class="item item-input-inset search-box-wrapper" ng-submit="search(searchTerm)">
      <label class="item-input-wrapper search-box">
        <input type="text" class="input-full-width" placeholder="Search" ng-model="searchTerm">
      </label>
      <button class="button button-small button-search" type="submit">
        <i class="ion-search"></i>
      </button>
    </form>
    <ion-list>
      <div class="post-list-category">
        <ion-item ng-repeat="Post in Posts" href="#/app/article/{{Post.id}}" ng-if="Posts.length > 1">
          <p class="article-title">{{Post.title}}</p>
          <div class="article-subtitle-background">
            <span class="article-subtitle">{{Post.categories[0].title}}</span>
          </div>
        </ion-item>
        <p class="no-results" ng-if="Posts.length < 1">No results.</p>
      </div>
    </ion-list>
    <ion-infinite-scroll
      ng-if="checkData()"
      icon="ion-loading-c"
      on-infinite="loadMore()">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>

