@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

.nav-bar-large {
    /* Height Variable */
    height: 300px !important;
    background-color: #ff3b3b !important;
    background-image: linear-gradient(transparent, black);
}

.nav-button {
    color: white !important;
    position: relative;
    display: block;
}

.nav-button-top {
    margin-top: 5px;
}

.platform-android .brand-logo {
    margin-top: 10px;
}

.right-logo {
    float: right;
    z-index: 100;
    position: relative;
    background-color: #FF4141;
    margin-top: 7px;
    height: 40px;
    width: 135px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16), 0px 2px 10px 0px rgba(0,0,0,0.12);
}

.brand-logo {
    color: white;
    margin-top: 9px;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 22px;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.overlay {
    background-image: linear-gradient(transparent, black);
    opacity: 0.3;
    /* Height Variable */
    height: 250px;
    margin-top: 50px;
    position: relative;
    width: 100%;
    z-index: 50;
}

.headline {
    position: relative;
    width: 100%;
    z-index: 150;
}

.platform-android .headline-text {
    letter-spacing: -1px;
}

.headline-text {
    position: absolute;
    bottom: 30px;
    font-size: 32px;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    color: white;
    font-weight: 300;
    margin-left: 16px;
    line-height: normal;
    margin-right: 17px;
    margin-top: 20px;
}

.platform-android .nav-bar-title {
    font-family: 'Open Sans', 'Helvetica Neue', 'Roboto', 'Segoe UI', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

.platform-android .nav-title-text {
    text-align: center;
    margin-left: -50px;
}

.platform-android .article-title {
    letter-spacing: -1px;
}

.article-title {
    font-size: 24px !important;
    line-height: normal;
    font-weight: 300;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    white-space: normal !important;
}

.article-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    color: white !important;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    background-color: #ff4141;
}

.article-headline-author {
    text-transform: uppercase;
    font-weight: 400;
    color: darkgray;
    margin-top: 7px;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    display: block;
    margin-bottom: 10px;
}

.article-author-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    color: darkgray;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}

.article-subtitle-background {
    margin-top: 15px;
}

.post-list {
    position: relative;
    /* Height Variable */
    margin-top: 255px;
}

.image-background {
    background-position: top;
    background-size: cover !important;
}

.platform-android .article-header {
    letter-spacing: -1px;
} 

.article-header {
    font-weight: 300;  
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.platform-android .article-content {
    font-weight: 300;
}

.article-content {
    font-size: 20px;
    line-height: normal;
    margin-top: 20px;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.content-area {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
}

.article-author {
    margin-top: 6px;
    text-transform: uppercase;
    color: darkgray;
    margin-left: 2px;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.article-date {
    color: darkgray;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    margin-left: 2px
}

.article-related {
    display: none;
}

.post-list-category {
    margin-top: 0px;
}

.no-results {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 32px;
    font-weight: 300;
    color: darkgray;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.article-image {
    width: 100vw;
    height: 400px;
    background-position-y: 10%;
    background-size: cover !important;
}

.article-image-wide {
    height: 180px;
}

.about-box {
    margin-top: 35vh;
}

.about-box h1, h4 {
    text-align: center;
    font-weight: 300;
    font-family: "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.bold-inline {
    font-weight: 600;
}

.pullquote {
    font-size: 24px;
    font-weight: 600;
}

.platform-android .item-content {
    font-family: 'Open Sans';
    letter-spacing: 0px;
}

/* iPhone 5 and iPhone 4 screen sizes */
@media only screen and (max-device-height : 570px) {
    .nav-bar-large {
        /* Height Variable */
        height: 200px !important;
    }

    .overlay {
        /* Height Variable */
        opacity: 0.7;
        height: 150px;
    }
    
    .post-list {
        /* Height Variable */
        margin-top: 155px;
    }
}