@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

.headline {
    position: relative;
    width: 100%;
    z-index: 150;
}

.nav-bar-large {
    /* Height Variable */
    height: 200px !important;
    background-color: #ef473a !important;
}

.navbar-transparent {
    display: none;
}

.headline-box {
    margin-top: -200px;
}

.nav-button {
    color: white !important;
    position: relative;
    display: block;
}

.nav-headline {
    margin-left: 15px;
}

.nav-headline::before {
    font-size: 26px;
    z-index: 999;
    position: relative;
}

.nav-button-top {
    margin-top: 5px;
}

.platform-android .exonian-mobile, .platform-win32 .exonian-mobile, .platform-windowsphone .exonian-mobile {
    letter-spacing: -1px;
}

.platform-android .about-text, .platform-win32 .about-text, .platform-windowsphone .about-text {
    letter-spacing: -1px;
}

.overlay {
    opacity: 0.5;
    /* Height Variable */
    height: 201px;
    margin-top: -1px;
    position: relative;
    width: 100%;
    z-index: 50;
    background-color: black;
}

.headline {
    position: relative;
    width: 100%;
    z-index: 150;
}


.platform-android .headline-text, .platform-win32 .headline-text, .platform-windowsphone .headline-text {
    /*letter-spacing: -2px;*/
}

.headline-text {
    position: absolute;
    bottom: 20px;
    font-size: 28px;
    font-family: "Roboto", -apple-system, "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
    font-weight: 600;
    margin-left: 23px;
    line-height: normal;
    margin-right: 17px;
    margin-top: 20px;
}

.platform-android .nav-bar-title, .platform-win32 .nav-bar-title, .platform-windowsphone .nav-bar-title {
    
}

.platform-android .nav-title-text {
    text-align: center;
    margin-left: -50px;
    font-family: 'Roboto', 'Helvetica Neue', 'Segoe UI', sans-serif;
    font-weight: 600;
}

.platform-win32 .nav-title-text, .platform-windowsphone .nav-title-text {
    text-align: center;
}

.platform-android .article-title, .platform-win32 .article-title, .platform-windowsphone .article-title {
    letter-spacing: -1px;
}

.article-title {
    font-size: 24px !important;
    line-height: normal;
    font-weight: 300;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    white-space: normal !important;
}

.article-title-small {
    display: inline !important;
}

.article-title-large {
    display: none !important;
}

.article-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    color: white !important;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 13px;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    background-color: #ff4141;
}

.article-headline-author {
    text-transform: uppercase;
    font-weight: 400;
    color: darkgray;
    margin-top: 7px;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    display: block;
    margin-bottom: 10px;
}

.article-author-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    color: darkgray;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
}

.article-subtitle-background {
    margin-top: 15px;
}

.headline-height {
    position: relative;
}

.image-background {
    background-position: top;
    background-size: cover !important;
}

.platform-android .article-header, .platform-win32 .article-header, .platform-windowsphone .article-header {
    letter-spacing: -1px;
} 

.article-header {
    font-weight: 300;  
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.platform-android .article-header, .platform-win32 .article-header, .platform-windowsphone .article-content {
    font-weight: 300;
}

.article-content {
    font-size: 20px;
    line-height: normal;
    margin-top: 20px;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.content-area {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.article-author {
    margin-top: 6px;
    text-transform: uppercase;
    color: darkgray;
    margin-left: 2px;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.article-date {
    color: darkgray;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
    margin-left: 2px
}

.article-related {
    display: none;
}

.no-results {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 32px;
    font-weight: 300;
    color: darkgray;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.article-image {
    width: 100vw;
    height: 400px;
    background-position-y: 10%;
    background-size: cover !important;
}

.article-image-wide {
    height: 180px;
}

.about-box {
    margin-top: 35vh;
}

.about-box h1, h4 {
    text-align: center;
    font-weight: 300;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.bold-inline {
    font-weight: 600;
}

.pullquote {
    font-size: 24px;
    font-weight: 600;
}

.platform-android .item-content, .platform-win32 .item-content, .platform-windowsphone .item-content {
    font-family: 'Open Sans';
    letter-spacing: 0px;
}

.error-message {
    margin-left: 15px;
    line-height: normal;
    display: block;
    padding-top: 20px;
    font-size: 32px;
    font-weight: 300;
    color: darkgray;
    font-family: -apple-system, "Helvetica Neue", "Open Sans", "Roboto", "Segoe UI", sans-serif;
}

.posts {
    display: block;
}

.input-full-width {
    width: 100%;
    color: black !important;
    font-family: 'Open Sans';
}

.button-search {
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
}

.button-search:hover {
    color: white;
}

.button-search:focus {
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    box-shadow: none;
}

.search-box-wrapper {
    background-color: #e6e6e6;
    border: none;
    margin-top: -1px;
}

.search-box {
    background-color: #e6e6e6;
}

.featured-image {
    height: auto;
    width: 100%;
}

/** iPad screen sizes **/
@media only screen and (min-width : 768px)  { 
    .post-item {
        float: left;
        width: 33.3333%;
        height: 210px;
    }
    .post-item .item-content {
        text-align: center;
        height: 100%;
        width: 100%;
        padding-left: 37px !important;
    }
    .article-title-small {
        display: none !important;
    }
    .article-title-large {
        display: inline !important;
    }
    .post-item .article-title {
        height: 105px;
        text-align: center;
        display: block;
    }
}

/** Large screen sizes **/
@media only screen and (min-width : 1200px)  { 
    .post-item {
        float: left;
        width: 25%;
        height: 210px;
    }
    .post-item .item-content {
        text-align: center;
        height: 100%;
        width: 100%;
        padding-left: 37px !important;
    }
    .article-title-small {
        display: none !important;
    }
    .article-title-large {
        display: inline !important;
    }
    .post-item .article-title {
        height: 105px;
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width : 2000px)  { 
    .post-item {
        float: left;
        width: 20%;
        height: 210px;
    }
    .post-item .item-content {
        text-align: center;
        height: 100%;
        width: 100%;
        padding-left: 37px !important;
    }
    .article-title-small {
        display: none !important;
    }
    .article-title-large {
        display: inline !important;
    }
    .post-item .article-title {
        height: 105px;
        text-align: center;
        display: block;
    }
}

@media only screen and (min-width : 2200px)  { 
    .post-item {
        float: left;
        width: 16.6666%;
        height: 210px;
    }
    .post-item .item-content {
        text-align: center;
        height: 100%;
        width: 100%;
        padding-left: 37px !important;
    }
    .article-title-small {
        display: none !important;
    }
    .article-title-large {
        display: inline !important;
    }
    .post-item .article-title {
        height: 105px;
        text-align: center;
        display: block;
    }
}
